.advantages-science {
  background-color: $white;
  padding-top: 42px;

  @include breakpointMd() {
    padding-top: 1px;
    margin: 0 auto;
  }

  @include breakpointXl() {
    width: 100%;
    padding-top: 0;
    background: $gray;
  }
}

.advantages-science__wrapper {
  margin: 0 auto;
  width: 280px;

  @include breakpointMd() {
    width: 660px;
  }

  @include breakpointXl() {
    width: 960px;
  }
}

.advantages-science__about {
  display: none;

  @include breakpointMd() {
    display: block;
    min-height: 415px;
    width: 640px;
    margin: 0 auto;
  }

  @include breakpointXl() {
    display: block;
    min-height: 415px;
    width: $desktop-container-width;
    max-width: 100%;
    margin: 0 auto;
  }
}

.advantages-science__items {
  @include breakpointMd() {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-left: 50%;
    background-image: url("../../img/icon-editor-diagram-fill.svg"), url("../../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: 28px 111px, 12px 55px;
    background-size: 206px 204px, 242px 277px;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &::before {
    position: absolute;
    content: "24";
    font-size: 97px;
    font-weight: bold;
    line-height: 150px;
    color: $pink;
    left: 73px;
    top: 131px;
  }

  @include breakpointXl() {
    padding-left: 350px;
  }
}

.advantages-science__title {
  @include breakpointMd() {
    font-size: 30px;
    padding-right: 67px;
    width: 170px;
    margin-bottom: 0;
    margin-top: 0;
  }

  @include breakpointXl() {
    width: 390px;
    padding-left: 10px;
  }
}

.advantages-science__content {
  @include breakpointMd() {
    font-size: $font-size;
    font-weight: lighter;
    line-height: $line-height;
    margin: 20px 0;
  }

  @include breakpointXl() {
    padding-right: 0;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 24px;
    padding-left: 12px;
    width: 538px;
    font-weight: 400;
  }
}

.advantages-science__link {
  @include breakpointMd() {
    text-decoration: underline;
    color: $pink;
    font-size: 14px;
    padding-left: 5px;
  }

  @include breakpointXl() {
    font-size: 18px;
    line-height: 34px;
    padding-left: 11px;
  }
}

.advantages-science__link:hover {
  color: $pink;
}

.advantages-science__link:active {
  opacity: 0.3;
}
