.advantages__about {
  background-color: $white;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  min-height: 217px;
  height: 1px;
  padding: 0;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 30px;

  @include breakpointMd() {
    padding-top: 0;
    min-height: 242px;
    font-size: 40px;
    margin-bottom: 0;
    line-height: 48px;
    justify-content: center;
  }

  @include breakpointXl() {
    min-height: 314px;
    font-size: 50px;
    line-height: 60px;
  }
}

.advantages__slogan {
  margin: 0;
  margin-bottom: 27px;

  @include breakpointMd() {
    margin-bottom: 0;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  padding-top: 81px;

  @include breakpointMd() {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 321px;
    padding-top: 0;
    padding-bottom: 9px;
    margin-left: 39px;
  }

  @include breakpointXl() {
    flex-direction: row;
    margin: 0 auto;
    width: $desktop-container-width;
    max-width: 100%;
    padding: 0;
    justify-content: space-between;
  }
}

.advantages__item {
  list-style-type: none;
  margin-bottom: 0;

  @include breakpointMd() {
    margin-bottom: 34px;
  }

  @include breakpointXl() {
    margin-top: 0;
    text-align: center;
    padding: 0 30px;
    width: 300px;

    &::before {
      content: "";
      display: block;
      height: 302px;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 292px auto;
    }

    &:nth-child(1)::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @include retina() {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &:nth-child(2)::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @include retina() {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &:nth-child(3)::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @include retina() {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }
}

.advantages__item:not(:first-child) {
  margin-top: 31px;

  @include breakpointMd() {
    margin-top: 0;
  }

  @include breakpointXl() {
    margin-top: 0;
  }
}

.advantages__features {
  background-color: $gray;
  font-size: $font-size;
  line-height: $line-height;
  text-align: center;
  padding: 0 25px 0 25px;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: 50% 0;

  @include breakpointMd() {
    min-height: auto;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: flex-end;
    padding: 0 10px 0 20px;
  }

  @include breakpointXl() {
    padding: 0 25px;
    padding-top: 10px;
  }

  &::after {
    content: "";
    display: block;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
    background-position: top center;
    background-size: 157px auto;
    height: 278px;
    margin-top: 40px;

    @include retina() {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }

    @include breakpointMd() {
      background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
      display: flex;
      order: 1;
      margin-top: 0;
      min-height: 483px;
      height: 270px;
      background-position: left;
      background-size: contain;
      min-width: 270px;

      @include retina() {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }

    @include breakpointXl() {
      display: none;
    }
  }
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: $line-height;
  text-align: center;
  margin: 0;

  @include breakpointMd() {
    text-align: left;
  }

  @include breakpointXl() {
    font-size: 30px;
    line-height: 1;
    text-align: center;
    margin: 0;
    margin-top: 54px;
  }
}

.advantages__description {
  margin: 0;
  margin-top: 12px;

  @include breakpointXl() {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    margin-top: 25px;
  }
}
