.advantages-science {
  display: none;

  @include breakpointMd() {
    display: block;
    padding-top: 1px;
    margin: 0 auto;
  }

  @include breakpointXl() {
    width: 100%;
    padding-top: 0;
    background: $gray;
  }
}

.advantages-science__wrapper {
  margin: 0 auto;
  width: 280px;

  @include breakpointMd() {
    width: 660px;
  }

  @include breakpointXl() {
    width: $desktop-container-width;
  }
}

.advantages-science__about {
  @include breakpointMd() {
    min-height: 415px;
    width: 640px;
    margin: 0 auto;
  }

  @include breakpointXl() {
    display: block;
    min-height: auto;
    width: $desktop-container-width;
    max-width: 100%;
    margin: 0 auto;
  }
}

.advantages-science__items {
  @include breakpointMd() {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-left: 50%;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &::before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 298px;
    height: 345px;
    content: "24";
    padding-top: 32px;
    font-size: 121px;
    font-weight: bold;
    line-height: 1;
    color: #d22856;
    background-image: url(../img/icon-editor-diagram-fill.svg), url(../img/icon-timer.svg);
    background-repeat: no-repeat;
    background-position: center 69px, center;
    left: 0;
    top: 65px;
  }

  @include breakpointXl() {
    padding-left: 39%;
    min-height: 477px;
    justify-content: flex-start;
    padding-top: 159px;
    padding-bottom: 0;
    padding-right: 45px;
  }
}

.advantages-science__title {
  @include breakpointMd() {
    font-size: 30px;
    line-height: 36px;
    width: 170px;
    margin-bottom: 0;
    margin-top: 0;
  }

  @include breakpointXl() {
    width: 100%;
    line-height: 1;
    margin-bottom: 24px;
  }
}

.advantages-science__content {
  @include breakpointMd() {
    font-size: $font-size;
    font-weight: lighter;
    line-height: $line-height;
    margin: 20px 0;
  }

  @include breakpointXl() {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 36px;
    font-weight: 400;
  }
}

.advantages-science__link {
  @include breakpointMd() {
    text-decoration: underline;
    color: $pink;
    font-size: $font-size;
    line-height: $line-height;
  }

  @include breakpointXl() {
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
  }
}

.advantages-science__link:hover {
  color: $pink;
}

.advantages-science__link:active {
  opacity: 0.3;
}
