.advantages__about {
  background-color: $white;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding: 48px 0;
  min-height: 214px;

  @include breakpointMd() {
    min-height: 242px;
  }

  @include breakpointXl() {
    min-height: 324px;
  }
}

.advantages__slogan {
  margin: 0;
  margin-bottom: 40px;
}

.advantages__list {
  padding: 0;
  margin: 0;

  @include breakpointMd() {
    display: flex;
    flex-direction: column;
    order: 2;
  }

  @include breakpointXl() {
    flex-direction: row;
    max-width: 936px;
    margin: auto;
  }
}

.advantages__item {
  list-style-type: none;

  @include breakpointXl() {
    margin-top: 0;

    &::before {
      content: "";
      display: block;
      height: 302px;
      background-repeat: no-repeat;
      background-position: center top;
    }

    &:nth-child(1)::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
    }

    &:nth-child(2)::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }

    &:nth-child(3)::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }
  }
}

.advantages__item:not(:first-child) {
  margin-top: 40px;

  @include breakpointXl() {
    margin-top: 0;
  }
}

.advantages__features {
  background-color: $gray;
  font-size: $font-size;
  line-height: $line-height;
  text-align: center;
  padding: 70px 25px 0 25px;

  @include breakpointMd() {
    min-height: 510px;
    display: flex;
  }
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: $line-height;
  text-align: center;
}

.advantages__background {
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
  background-position: top center;
  height: 270px;
  margin-top: 40px;

  @include breakpointMd() {
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
    display: flex;
    order: 1;
    margin-top: 0;
    min-height: 478px;
    background-position: left;
    background-size: 100%;
    min-width: 266px;
  }

  @include breakpointXl() {
    display: none;
  }
}
