.contacts {
  background-color: $white;
  padding: 10px 25px 23px 25px;
  text-align: center;

  @include breakpointMd() {
    min-height: 400px;
  }

  @include breakpointXl() {
    padding: 50px 25px 23px 25px;
  }
}

.contacts-lead {
  font-weight: 300;
  font-size: 24px;
  color: $blue-dark;

  @include breakpointMd() {
    font-size: 40px;
    max-width: 370px;
    margin: 0 auto;
  }
}

.contacts__items {
  @include breakpointMd() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 57px;
  }
}

.contacts__item {
  margin-bottom: 28px;
}

.contacts__item-lead {
  font-size: 18px;
}

.contacts__item-info {
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  color: $pink;

  &:hover {
    color: $blue-dark;
    box-shadow: inset 0 -3px 0 $white, inset 0 -5px 0 $blue-dark;
  }

  &:active {
    color: $gray-rgba;
    box-shadow: none;
  }
}

.contacts__item--email {
  @include breakpointXl() {
    order: 3;
  }
}

.contacts__item--phone {
  @include breakpointXl() {
    order: 1;
  }
}

.contacts__item--address {
  @include breakpointMd() {
    max-width: 220px;
  }

  @include breakpointXl() {
    order: 2;
  }
}
