.copyright__text {
  font-size: $font-size;
  line-height: 1;
  margin: 0;
  margin-top: 7px;
  margin-right: 16px;

  @include breakpointMd() {
    padding-right: 14px;
    margin: 0;
    margin-bottom: 5px;
  }

  @include breakpointXl() {
    font-size: 18px;
    margin-bottom: 12px;
  }
}

.copyright__logo {
  color: $pink;

  &:hover {
    color: $blue-dark;
  }

  &:active {
    opacity: 0.3;
  }
}
