.download-links__container {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
}

.download-links__wrapper {
  background-color: $blue-darkest;
  padding: 28px 20px 20px 32px;

  @include breakpoint(md) {
    background-color: transparent;
  }
}

.download-links__button {
  text-decoration: none;
  color: $white;
}

.download-links__info {
  font-weight: 300;
  font-size: $font-size;
  line-height: $line-height;
  color: $white;
  text-align: center;
}

.download-links__market-item {
  list-style-type: none;
}
