.download-links {
  @include breakpointMd() {
    width: $desktop-container-width;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 13px;
  }

  @include breakpointXl() {
    min-height: 743px;
    margin: 0;
    padding-bottom: 15px;
  }
}

.download-links__container {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
}

.download-links__wrapper {
  background-color: $blue-darkest;
  padding: 27px 20px 29px 19px;

  @include breakpointMd() {
    background-color: transparent;
    width: 300px;
    margin-left: 20px;
    padding: 0;
    margin-top: 0;
  }

  @include breakpointXl() {
    margin-left: 0;
  }
}

.download-links__title {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: $white;
  width: 256px;
  z-index: 1;
  margin: 0;

  @include breakpointMd() {
    position: static;
    transform: unset;
    width: 230px;
    display: block;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    font-weight: 300;
    color: $white;
    margin: auto;
    margin-bottom: 28px;
  }

  @include breakpointXl() {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 49px;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    transform: none;
  }
}

.download-links__button {
  font-size: 18px;
  line-height: 1;
  color: $white;
  text-decoration: none;
  border: solid 3px $white;
  border-radius: 30px;
  padding: 14px 0 17px 0;
  display: inline-flex;
  justify-content: center;
  width: 100%;

  @include breakpointMd() {
    padding: 0;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include breakpointXl() {
    font-size: 21px;
  }
}

.download-links__button:hover {
  background-color: $white;
  color: $pink;
}

.download-links__button:active {
  background-color: $white;
  color: $pink-rgba;
}

.download-links__info {
  font-weight: 300;
  font-size: $font-size;
  line-height: $line-height;
  color: $white;
  text-align: center;
  margin: 0;
  margin-top: 17px;

  @include breakpointMd() {
    font-size: 18px;
  }
}

.download-links__market {
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 32px 38px 0 38px;

  @include breakpointMd() {
    padding: 45px 46px 10px 46px;
  }

  @include breakpointXl() {
    padding-top: 66px;
    padding-bottom: 34px;
    padding-left: 47px;
    padding-right: 47px;
  }
}

.download-links__market-item {
  list-style-type: none;
}


.download-links__market-link {
  display: inline-flex;
  background-repeat: no-repeat;
  background-position: center;
}

.download-links__market-link--apple {
  background-image: url("../img/logo-apple.svg");
  width: 47px;
  height: 56px;
}

.download-links__market-link--android {
  background-image: url("../img/logo-android.svg");
  width: 43px;
  height: 47px;
}

.download-links__market-link--windows {
  background-image: url("../img/logo-microsoft.svg");
  width: 44px;
  height: 41px;
}
