.download-background {
  background-repeat: no-repeat;

  @include breakpointMd() {
    display: flex;
    justify-content: center;
    min-height: 330px;
  }

  @include breakpointXl() {
    display: flex;
    justify-content: center;
  }
}

.download-background--home {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-size: 80%;
  background-position: left 108px;
  padding-top: 392px;

  @include breakpointMd() {
    background-image: url("../img/iphone-hand-tablet@1x.png");
    padding-top: 0;
    min-height: 619px;
    background-size: auto 545px;
    background-position: right bottom;
  }

  @include breakpointXl() {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    padding-top: 0;
    min-height: 744px;
    background-size: auto 645px;
    background-position: center bottom;
  }
}
