.form__legend {
  position: relative;
  width: 100%;

  @include breakpointMd() {
    display: flex;
    flex-direction: column;
    border: 2px solid $grey;
    margin: 0 20px;
    margin-bottom: 70px;
  }

  @include breakpointXl() {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 70px;
    max-width: 936px;
  }
}

.form__fieldset--fullname {
  background-color: $white;
  padding: 0 20px;
  margin-bottom: 40px;
  width: 100%;

  @include breakpointMd() {
    order: 1;
    padding-bottom: 0;
    margin-bottom: 70px;
  }

  @include breakpointXl() {
    order: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 37px;
  }
}

.form__text-label {
  font-size: $font-size;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: $pink;
  padding-left: 24px;

  @include breakpointMd() {
    padding-left: 0;
    margin-right: 20px;
  }
}

.form__text-input {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: $blue-dark;
  width: 100%;
  padding-left: 24px;
  height: 60px;
  border: solid 2px $grey;

  &::placeholder {
    color: $blue-dark;
  }

  &:hover {
    border-color: $blue-dark;
  }

  &:active {
    border-color: $pink;
  }
}

.form__fieldset--achievements {
  background-color: $gray;
  padding: 40px 22px;
  margin-bottom: 40px;

  @include breakpointMd() {
    order: 4;
    width: 100%;
    background-color: transparent;
    padding: 54px 60px;
    margin-bottom: 70px;
  }

  @include breakpointXl() {
    order: 4;
    display: flex;
    flex-direction: column;
    padding: 34px 60px;
  }
}

.form__title {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 42px;
  font-weight: normal;
  font-size: $font-size;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $pink;

  @include breakpointMd() {
    white-space: nowrap;
    position: absolute;
    background: $white;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 30px;
  }
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form__fieldset--contacts {
  background-color: $white;
  padding: 0 20px;
  margin-bottom: 44px;

  @include breakpointMd() {
    order: 3;
    width: 100%;
    padding: 45px 60px;
    margin-bottom: 70px;
  }

  @include breakpointXl() {
    order: 3;
  }
}

.form__fieldset--contacts .form__title {
  display: none;

  @include breakpointMd() {
    display: initial;
  }
}

.form__fieldset--apps {
  background-color: $gray;
  padding: 40px 20px;
  margin-bottom: 40px;

  @include breakpointMd() {
    order: 2;
    background-color: transparent;
    width: 100%;
    padding: 53px 60px;
    margin-bottom: 70px;
  }

  @include breakpointXl() {
    order: 2;
    width: calc(50% - 37px);
    background-color: $white;
    margin-left: 37px;
  }
}

.form__fieldset--emotions {
  background-color: $white;
  padding: 0 20px;
  margin-bottom: 50px;

  @include breakpointMd() {
    order: 5;
    width: 100%;
    padding: 53px 60px;
    margin-bottom: 70px;
  }

  @include breakpointXl() {
    order: 5;
    flex-direction: column;
    padding: 45px 60px;
  }
}

.form__fieldset--emotions .form__title {
  margin-bottom: 20px;
}

.form__textarea {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: $blue-dark;
  width: 100%;
  padding: 24px 20px;
  margin: 0;
  border-color: $grey;
  display: block;
  border-width: 2px;

  &:hover {
    border-color: $blue-dark;
  }

  &:active {
    border-color: $pink;
  }

  &::placeholder {
    color: $blue-dark;
  }

  @include breakpointXl() {
    height: 124px;
  }
}

.form__sending {
  background-color: $white;
  padding: 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: $font-size;
  line-height: 30px;

  @include breakpointMd() {
    order: 6;
    justify-content: space-between;
  }

  @include breakpointXl() {
    order: 6;
    padding: 0;
  }
}

.form__checkbox-input {
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.form__checkbox-input:not(:checked) + .form__checkbox-label::before {
  background-image: none;
}

.form__checkbox-label {
  position: relative;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &::before {
    content: "";
    flex-shrink: 0;
    display: inline-flex;
    width: 37px;
    height: 37px;
    border: solid 2px $grey;
    background-color: $white;
    background-image: url("../img/icon-yes-pink.svg");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 35px;
  }
}

.form__field-radio {
  position: relative;
  margin-bottom: 40px;
  user-select: none;
  cursor: pointer;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__field-radio:hover .form__radio-label::before {
  border-color: $blue-dark;
}

.form__field-radio:active .form__radio-label::before {
  border-color: $pink;
}

.form__radio-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.form__radio-input:not(:checked) ~ .form__radio-label::before {
  background-image: none;
}

.form__radio-label {
  position: relative;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &::before {
    content: "";
    flex-shrink: 0;
    display: inline-flex;
    width: 37px;
    height: 37px;
    border: solid 2px $grey;
    border-radius: 50%;
    background-color: $white;
    background-image: url("../img/icon-radio.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 35px;
  }
}

.form__note-symbol {
  text-align: center;
  color: $blue-dark;
  text-transform: uppercase;
  margin: 0;
  margin-top: 45px;

  @include breakpointMd() {
    margin: 0;
  }
}

.form__submit-button {
  width: 100%;
  background-color: $green-button;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  margin: 0;
  padding: 10px 0;
  height: 60px;

  &:hover {
    background-color: $green-button-hover;
  }

  &:active {
    color: $green-button-color;
  }

  &[disabled] {
    color: $white;
    background-color: $grey;
  }

  @include breakpointMd() {
    width: 50%;
  }

  @include breakpointXl() {
    width: 296px;
  }
}

.form__note-star {
  color: $pink;
}

.form__field-text--fullname {
  padding-bottom: 20px;
  align-items: center;

  @include breakpointMd() {
    display: flex;
    align-items: center;
  }

  @include breakpointMd() {
    padding-top: 0;
    padding-bottom: 56px;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.form__field-text--contacts {
  @include breakpointMd() {
    display: flex;
    flex-direction: column;
  }

  @include breakpointXl() {
    width: 100%;
    margin: 0 37px;
  }
}

.form__field-text--contacts:first-child {
  padding-bottom: 28px;

  @include breakpointXl() {
    padding-bottom: 0;
  }
}

.form__text-label--contacts {
  @include breakpointMd() {
    order: 2;
    padding-left: 24px;
  }
}

.form__text-input--contacts {
  @include breakpointMd() {
    order: 1;
  }
}

.form__text-fields--contacts {
  @include breakpointXl() {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.form__field-text--contacts-number {
  position: relative;

  &::after {
    display: none;

    @include breakpointMd() {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 60px;
      height: 60px;
      background-color: $grey;
    }
  }
}

.form__field-text--contacts-mail {
  position: relative;

  &::after {
    display: none;

    @include breakpointMd() {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 60px;
      height: 60px;
      background-color: $grey;
    }
  }
}


.form__checkbox-fields--achievements {
  @include breakpointXl() {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__field-checkbox {
  position: relative;
  margin-bottom: 47px;

  @include breakpointXl() {
    width: 33.33333%;
    margin-top: 23px;
    margin-bottom: 23px;
  }

  &:first-child {
    @include breakpointMd() {
      margin-top: 0;
    }

    @include breakpointXl() {
      margin-top: 23px;
    }
  }

  &:last-child {
    margin-bottom: 0;

    @include breakpointMd() {
      margin-bottom: 0;
    }
  }
}

.form__field-checkbox:hover .form__checkbox-label::before {
  border-color: $blue-dark;
}

.form__field-checkbox:active .form__checkbox-label::before {
  border-color: $pink;
}

.form__field-checkbox--one {
  @include breakpointXl() {
    order: 1;
  }
}

.form__field-checkbox--three {
  @include breakpointXl() {
    order: 2;
  }
}

.form__field-checkbox--five {
  @include breakpointXl() {
    order: 3;
  }
}

.form__field-checkbox--two {
  @include breakpointXl() {
    order: 4;
  }
}

.form__field-checkbox--four {
  @include breakpointXl() {
    order: 5;
  }
}

.form__field-checkbox--six {
  @include breakpointXl() {
    order: 6;
  }
}

.form__add-text {
  display: none;

  @include breakpointXl() {
    display: inline;
  }
}
