.gallery-description {
  padding: 54px 0 0 0;
  min-height: 228px;

  @include breakpointMd() {
    min-height: 240px;
  }
}

.gallery-description__lead {
  margin: 0;
  font-size: $font-size;
  line-height: 30px;
  text-align: center;
  color: $blue-dark;
}
