.gallery-description {
  padding-top: 54px;
  min-height: 228px;

  @include breakpointXl() {
    min-height: 240px;
  }
}

.gallery-description__lead {
  font-size: $font-size;
  line-height: 30px;
  text-align: center;
  color: $blue-dark;
  margin: 0 auto;

  @include breakpointMd() {
    font-size: 18px;
    padding-top: 39px;
    max-width: 500px;
  }

  @include breakpointXl() {
    max-width: 600px;
  }
}
