.interactive-map {
  position: relative;
}

.interactive-map::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  height: 100%;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center -1px;
}

.interactive-map__frame {
  max-width: 100%;
  width: 100%;
  display: block;
  border: none;
  height: 196px;

  @include breakpointMd() {
    min-height: 373px;
  }

  @include breakpointXl() {
    min-height: 522px;
  }
}
