.interactive-map {
  position: relative;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include retina() {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  @include breakpointMd() {
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @include retina() {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  @include breakpointXl() {
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @include retina() {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}

.interactive-map::before {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  max-width: 1200px;
  height: 100%;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center -1px;
}

.interactive-map__frame {
  max-width: 100%;
  width: 100%;
  display: block;
  border: none;
  height: 196px;

  @include breakpointMd() {
    min-height: 373px;
  }

  @include breakpointXl() {
    min-height: 522px;
  }
}
