.intro__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $white;
  padding: 24px 20px 60px 20px;
  margin: 0;
  max-width: 800px;

  @include breakpointMd() {
    font-size: 50px;
    padding-top: 81px;
  }

  @include breakpointXl() {
    margin: 0 auto;
  }
}
