.intro__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $white;
  padding: 29px 20px 82px 20px;
  margin: 0;
  line-height: 29px;

  @include breakpointMd() {
    font-size: 50px;
    line-height: 58px;
    padding-top: 71px;
    max-width: 400px;
  }

  @include breakpointXl() {
    line-height: 65px;
    padding-top: 59px;
  }
}

.intro__title--form {
  @include breakpointMd() {
    max-width: 800px;
  }
}

.intro {
  @include breakpointMd() {
    min-height: 328px;
  }

  @include breakpointXl() {
    min-height: 283px;
  }
}
