.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include breakpointXl() {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  width: 100%;

  @include breakpointXl() {
    display: block;
    position: static;
    width: auto;
  }
}

.main-nav--nojs {
  position: static;
}
