.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include breakpointXl() {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav {
  display: none;

  @include breakpointXl() {
    display: block;
  }
}
