.page-header {
  background-image: url("../img/bg-back-mobile-2@1x.jpg");
  //background-position: center top;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: $blue-darkest;
  background-size: auto 462px;
  border-bottom: 1px solid $gray-darker-border;

  @include breakpointMd() {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-color: $blue-darkest;
    background-size: auto 729px;
  }

  @include breakpointXl() {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-color: $blue-darkest;
    background-size: auto 853px;
    border-bottom: 0;
  }
}

.page-header--photo,
.page-header--form {
  //background-size: auto 462px;
}

.page-header__wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray-darker-border;
  min-height: 70px;
  height: 1px;


  @include breakpointMd() {
    min-height: 110px;
  }

  @include breakpointXl() {
    padding: 0;
    padding-bottom: 15px;
  }
}

.page-header__button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;

  @include breakpointXl() {
    display: none;
  }
}

.page-header__logo-mobile {
  display: block;

  @include breakpointMd() {
    display: none;
  }

  @include breakpointXl() {
    display: none;
  }
}

.page-header__logo-tablet {
  display: none;

  @include breakpointMd() {
    display: block;
  }

  @include breakpointXl() {
    display: none;
  }
}

.page-header__logo-link {
  color: $white;

  &:hover {
    color: $pink;
  }

  &:active {
    color: $white-rgba;
  }

  @include breakpointMd() {
    height: 55px;
  }

  @include breakpointXl() {
    height: auto;
  }
}

.page-header__logo-desktop {
  display: none;

  @include breakpointMd() {
    display: block;
  }
}

.page-header__logo-star {
  display: none;

  @include breakpointXl() {
    display: inline;
  }
}

.page-header__logo-glasses-desktop {
  display: none;

  @include breakpointXl() {
    display: inline;
  }
}

.page-header__logo-glasses-tablet {
  display: none;

  @include breakpointMd() {
    display: inline;
  }

  @include breakpointXl() {
    display: none;
  }
}

.page-header__icon-burger,
.page-header__icon-close {
  color: $white;

  &:hover {
    color: $pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__icon-close {
  display: none;
}

.page-header__container--open .page-header__icon-close {
  display: inline;
}

.page-header__container--open .page-header__icon-burger {
  display: none;
}

.page-header__container {
  background-color: transparentize(black, 0.5);
  position: relative;
}

.page-header__toolbar {
  max-width: $desktop-container-width;
  margin: auto;
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  @include breakpointXl() {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    min-height: 110px;
  }
}

.page-header__container--open {
  background-color: $blue-dark;

  @include breakpointXl() {
    background-color: transparentize(black, 0.5);
  }
}

.page-header__container--open .main-nav {
  display: block;
  background-color: $blue-dark;

  @include breakpointXl() {
    position: static;
    background-color: transparent;
  }
}
