.page-header {
  min-height: 325px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border-bottom: 1px solid #010101;

  @include breakpointMd() {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  @include breakpointXl() {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}

.page-header__wrapper {
  padding: 22px 20px 25px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #010101;


  @include breakpointMd() {
    display: flex;
    justify-content: space-between;
  }

  @include breakpointXl() {
    padding: 0;
    padding-bottom: 15px;
  }
}

.page-header__button {
  background-color: #283645;
  border: none;

  @include breakpointXl() {
    display: none;
  }
}

.page-header__logo-mobile {
  display: block;

  @include breakpointMd() {
    display: none;
  }

  @include breakpointXl() {
    display: none;
  }
}

.page-header__logo-tablet {
  display: none;

  @include breakpointMd() {
    display: block;
  }

  @include breakpointXl() {
    display: none;
  }
}

.page-header__logo-link {
  color: $white;

  &:hover {
    color: $pink;
  }

  &:active {
    color: $white-rgba;
  }
}

.page-header__logo-desktop {
  display: none;

  @include breakpointMd() {
    display: none;
  }

  @include breakpointXl() {
    display: block;
  }
}

.page-header__button--closed {
  display: block;
  width: 24px;
  height: 23px;
  border: none;
}

.page-header__button-fill:hover {
  fill: $pink;
}

.page-header__button-fill:active {
  fill: $pink-rgba;
}

.page-header__logo--mobile:hover {
  fill: $pink;
}

.page-header__logo-mobile-fill:hover {
  fill: $pink;
}
