.panorama__photo-wrapper {
  position: relative;
}

.panorama__photo {
  width: 100%;
  display: block;
  object-fit: cover;

  @include breakpointMd() {
    height: 509px;
  }

  @include breakpointXl() {
    height: 506px;
  }
}

.panorama__rubric {
  position: absolute;
  right: 20px;
  top: 0;

  @include breakpointMd() {
    right: 50%;
    margin-right: -310px;
    top: 57px;
  }

  @include breakpointXl() {
    top: 55px;
    margin-right: -470px;
  }

  display: inline-flex;
  padding: 0 22px;
  height: 36px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $pink;
}

.panorama__post-wrapper {
  background-color: $grey-light;
  margin: 0 20px;
  padding: 18px 0 20px 18px;

  @include breakpointMd() {
    width: 620px;
    margin: 0 auto;
    position: relative;
    padding: 25px 17px 23px 27px;
  }

  @include breakpointXl() {
    width: 940px;
  }
}

.panorama__post-author {
  margin: 0;
  font-weight: bold;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $blue-dark;
}

.panorama__post-time {
  font-weight: 300;
  font-size: 12px;
  line-height: $line-height;
  color: $blue-dark;
  text-transform: uppercase;
}

.panorama__post-text {
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
  color: $blue-dark;
}

.panorama__post-action {
  display: flex;
  align-items: center;
  margin-top: 9px;

  @include breakpointMd() {
    margin-top: 20px;
    position: absolute;
    top: 6px;
    right: 10px;
    display: flex;
    align-items: center;
  }

  @include breakpointXl() {
    right: 13px;
  }
}

.panorama__post-like-btn {
  background-color: $grey-light;
  border: none;
  width: 13px;
  margin-right: 19px;
  padding: 0;

  @include breakpointMd() {
    order: 1;
    margin-left: 16px;
  }
}

.panorama__post-stats {
  color: $pink;
  text-decoration: none;
  font-size: 12px;
  line-height: $line-height;
  text-align: left;
  text-transform: uppercase;
}
