.panorama {
  position: relative;
}

.panorama__photo {
  width: 100%;
  display: block;
}

.panorama__rubric {
  position: absolute;
  right: 20px;
  top: 0;
  padding: 7px 23px 6px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $pink;

  @include breakpointMd() {
    top: 43px;
  }

  @include breakpointXl() {
    top: 54px;
    right: 130px;
  }
}

.panorama__post-wrapper {
  background-color: $grey-light;
  margin: 0 20px;
  padding: 25px 17px 26px 17px;

  @include breakpointMd() {
    width: 620px;
    margin: 0 auto;
    position: relative;
  }

  @include breakpointXl() {
    width: 940px;
  }
}

.panorama__post-author {
  margin: 0;
  font-weight: bold;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $blue-dark;
}

.panorama__post-time {
  font-weight: 300;
  font-size: 12px;
  line-height: $line-height;
  color: $blue-dark;
  text-transform: uppercase;
}

.panorama__post-text {
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
  color: $blue-dark;
}

.panorama__post-action {
  margin-top: 20px;

  @include breakpointMd() {
    position: absolute;
    top: 6px;
    right: 29px;
    display: flex;
    align-items: center;
  }
}

.panorama__post-like-btn {
  background-color: $grey-light;
  border: none;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 13px;
  height: 12px;
  margin-right: 19px;

  @include breakpointMd() {
    order: 1;
    margin-left: 16px;
  }
}

.panorama__post-stats {
  color: $pink;
  text-decoration: none;
  font-size: 12px;
  line-height: $line-height;
  text-align: left;
  text-transform: uppercase;
}

.panorama__post-stats-count {

}
