.photo-editor {
  background-color: $gray;
  padding: 20px 20px 44px 20px;

  @include breakpointMd() {
    min-height: 448px;
    padding-bottom: 54px;
  }

  @include breakpointXl() {
    width: 940px;
    margin: auto;
    padding: 56px 50px 57px 80px;
  }
}

.photo-editor__image {
  margin: 0;

  @include breakpointMd() {
    padding-top: 37px;
  }

  @include breakpointXl() {
    padding-top: 0;
  }
}

.photo-editor__image-road {
  display: flex;
  width: 100%;

  @include breakpointMd() {
    width: auto;
  }
}

.photo-editor__tools {
  @include breakpointMd() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
  }

  @include breakpointXl() {
    padding-left: 49px;
    width: 75%;
  }
}

.photo-editor__tools-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 42px 17px 35px;

  @include breakpointMd() {
    flex-direction: column;
    padding: 20px 0 27px 35px;
  }

  @include breakpointXl() {
    padding: 0 10px 27px 40px;
  }
}

.photo-editor__tool {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpointMd() {
    min-height: 44px;
    width: 24px;
    height: 24px;
  }

  @include breakpointXl() {
    width: 48px;
    height: 48px;
  }
}

.photo-editor__tool-icon {
  color: $pink;
}

.photo-editor__tool:hover {
  opacity: 0.5;
}

.photo-editor__tool:hover .photo-editor__tool-icon {
  color: $blue-dark;
}

.photo-editor__tool-icon--color {
  color: $blue-dark;
  opacity: 0.5;

  @include breakpointMd() {
    opacity: 1;
    color: $pink;
  }
}

.photo-editor__tool-icon--contrast {
  width: 32px;
  margin-right: 9px;
  margin-bottom: 5px;
  color: $blue-dark;
  opacity: 0.5;

  @include breakpointMd() {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    margin-right: 0;
    opacity: 1;
    color: $pink;
  }

  @include breakpointXl() {
    width: 32px;
    height: 32px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.photo-editor__tools-list .photo-editor__range {
  display: none;

  @include breakpointMd() {
    display: block;
  }
}

.photo-editor__tool-container {
  display: flex;
  align-items: center;

  @include breakpointMd() {
    border-bottom: 1px solid $gray-rgba;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 13px;
  }

  @include breakpointXl() {
    padding-top: 0;
    padding-bottom: 12px;
    padding-right: 30px;
    margin-top: -4px;
  }
}

.photo-editor__tool-container:not(:first-child) {
  @include breakpointMd() {
    padding-top: 14px;
  }
}

.photo-editor__buttons {
  margin-top: 35px;
  padding-top: 38px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    top: 0;
    border-bottom: 1px solid $gray-rgba;

    @include breakpointMd() {
      display: none;
    }
  }

  @include breakpointMd() {
    margin-top: 0;
    padding-left: 37px;
    padding-top: 38px;
    padding-right: 13px;
  }

  @include breakpointXl() {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 41px;
    padding-right: 10px;
  }
}

.photo-editor__range-input {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 14px;
  z-index: 1;
  cursor: pointer;
}

.photo-editor__wrapper {
  @include breakpointMd() {
    display: flex;
    justify-content: space-between;
    max-width: 660px;
    margin: auto;
  }

  @include breakpointXl() {
    display: flex;
    max-width: 100%;
  }
}

.photo-editor__tools > .photo-editor__range {
  @include breakpointMd() {
    display: none;
  }
}


.photo-editor__tool--crop {
  @include breakpointMd() {
    margin-left: 2px;
    margin-right: 29px;
  }

  @include breakpointXl() {
    margin-left: 0;
    margin-right: 45px;
  }
}

.photo-editor__tool--color {
  margin-right: 3px;

  @include breakpointMd() {
    margin-left: 2px;
    margin-right: 29px;
  }

  @include breakpointXl() {
    margin-left: 0;
    margin-right: 45px;
    padding-top: 4px;
  }
}

.photo-editor__tool--contrast {
  @include breakpointMd() {
    margin-left: 2px;
    margin-right: 29px;
    color: $pink;
  }

  @include breakpointXl() {
    margin-left: 0;
    margin-right: 45px;
  }
}

.photo-editor__button {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  padding: 14px 10px 17px;
  background-color: $grey-light;
  border-radius: 30px;
  max-width: 100%;

  @include breakpointXl() {
    width: 183px;
  }
}

.photo-editor__upload-button {
  color: $pink;
  border: 3px solid $pink;
  margin-bottom: 12px;
  width: 100%;

  &:hover {
    color: $white;
    background-color: $pink;
  }

  &:active {
    color: $white-rgba;
  }

  @include breakpointMd() {
    margin-bottom: 24px;
  }

  @include breakpointXl() {
    width: 183px;
    margin-bottom: 0;
  }
}

.photo-editor__cancel-button {
  color: $blue-rgba-light;
  border: 3px solid $blue-rgba-light;
  width: 100%;

  &:hover {
    border: 3px solid $gray-rgba;
    color: $gray-rgba;
  }

  &:active {
    color: $white-rgba;
    background-color: $blue-rgba;
    border: 3px solid $blue-rgba;
  }

  @include breakpointXl() {
    width: 183px;
  }
}

.photo-editor__range {
  border-bottom: 2px solid $blue-dark;
  position: relative;
  margin: 0 20px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
    height: 14px;
    width: 14px;
    border: 2px solid $pink;
    background: $white;
    border-radius: 50%;
  }

  @include breakpointMd() {
    margin: 0;
    width: 100%;
  }
}

.photo-editor__range--active::before {
  background: $pink;
}

.photo-editor__range--crop::before {
  left: 75%;

  @include breakpointXl() {
    left: 26%;
  }
}

.photo-editor__range--color::before {
  left: 15%;

  @include breakpointXl() {
    left: 88%;
  }
}

.photo-editor__range--contrast::before {
  left: 51%;

  @include breakpointXl() {
    left: 58%;
  }
}
