.photo-upload {
  @include breakpointXl() {
    background-color: $white;
    padding-bottom: 28px;
  }
}

.photo-upload__lead {
  background-color: $white;
  font-size: $font-size;
  line-height: 30px;
  text-align: center;
  color: $blue-dark;
  padding: 0 0 41px;
  margin: 0;

  @include breakpointMd() {
    font-size: 18px;
    padding: 0 30px 69px 32px;
  }

  @include breakpointXl() {
    padding: 0 30px 67px 32px;
  }
}
