.photo-editor {
  background-color: $gray;
  padding: 20px 20px 44px 20px;

  @include breakpointMd() {
    min-height: 448px;
    padding-bottom: 54px;
  }

  @include breakpointXl() {
    width: 940px;
    margin: auto;
    padding: 56px 50px 57px 80px;
  }
}

.photo-editor__image {
  margin: 0;

  @include breakpointMd() {
    padding-top: 37px;
  }

  @include breakpointXl() {
    padding-top: 0;
  }
}

.photo-editor__image-road {
  display: flex;
  width: 100%;

  @include breakpointMd() {
    width: auto;
  }
}

.photo-editor__tools {
  @include breakpointMd() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
  }

  @include breakpointXl() {
    padding-left: 49px;
    width: 75%;
  }
}

.photo-editor__tools-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 42px 17px;
  padding-bottom: 34px;

  @include breakpointMd() {
    flex-direction: column;
    padding: 20px 0 27px 35px;
  }

  @include breakpointXl() {
    padding: 0 10px 27px 40px;
  }
}

.photo-editor__tool {
  list-style-type: none;
  min-height: 44px;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;

  &:first-child {
    @include breakpointMd() {
      padding-top: 0;
    }
  }

  &::before {
    flex-shrink: 0;
    content: "";
    width: 44px;
    height: 44px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include breakpointMd() {
      margin-right: 30px;
      margin-left: 3px;
      width: 24px;
      height: 24px;
    }

    @include breakpointXl() {
      margin-right: 30px;
      margin-left: 0;
      width: 48px;
      height: 44px;
    }
  }

  @include breakpointMd() {
    display: flex;
    align-items: center;
    padding-right: 0;
  }

  @include breakpointXl() {
    padding-right: 18px;
  }
}

.photo-editor__tools-list .photo-editor__range {
  display: none;

  @include breakpointMd() {
    display: block;
  }
}

.photo-editor__tool-container {
  display: flex;
  align-items: center;

  @include breakpointMd() {
    border-bottom: 1px solid $gray-rgba;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 13px;
  }

  @include breakpointXl() {
    padding-top: 0;
    padding-bottom: 12px;
    padding-right: 30px;
  }
}

.photo-editor__tool-container:not(:first-child) {
  @include breakpointMd() {
    padding-top: 14px;
  }
}

.photo-editor__buttons {
  margin-top: 35px;
  padding-top: 38px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    top: 0;
    border-bottom: 1px solid $gray-rgba;

    @include breakpointMd() {
      display: none;
    }
  }

  @include breakpointMd() {
    margin-top: 0;
    padding-left: 37px;
    padding-top: 38px;
    padding-right: 13px;
  }

  @include breakpointXl() {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 0;
  }
}

.photo-editor__range-input {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 14px;
  z-index: 1;
  cursor: pointer;
}

.photo-editor__wrapper {
  @include breakpointMd() {
    display: flex;
    justify-content: space-between;
  }

  @include breakpointXl() {
    display: flex;
  }
}

.photo-editor__tools > .photo-editor__range {
  @include breakpointMd() {
    display: none;
  }
}

.photo-editor__tool--crop::before {
  background-image: url("../img/icon-editor-crop.svg");

  @include breakpointMd() {
    background-size: 22px;
  }

  @include breakpointXl() {
    background-size: 44px;
    background-position: left center;
  }
}

.photo-editor__tool--crop {
  &:hover {
    &::before {
      background-image: url("../img/icon-editor-crop2.svg");
    }
  }
}

.photo-editor__tool--color::before {
  background-image: url("../img/icon-editor-fill.svg");

  @include breakpointMd() {
    background-image: url("../img/icon-editor-fill2.svg");
    background-size: 24px;
  }

  @include breakpointXl() {
    background-size: 48px;
  }
}

.photo-editor__tool--color {
  &:hover {
    &::before {
      background-image: url("../img/icon-editor-fill3.svg");
    }
  }
}

.photo-editor__tool--contrast::before {
  background-image: url("../img/icon-editor-contrast.svg");
  background-size: 33px;

  @include breakpointMd() {
    background-image: url("../img/icon-editor-contrast2.svg");
    background-size: 16px;
  }

  @include breakpointXl() {
    background-size: 32px;
  }
}

.photo-editor__tool--contrast {
  &:hover {
    &::before {
      background-image: url("../img/icon-editor-contrast3.svg");
    }
  }
}

.photo-editor__button {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  padding: 14px 10px 17px;
  background-color: $grey-light;
  border-radius: 30px;
  max-width: 100%;

  @include breakpointXl() {
    width: 183px;
  }
}

.photo-editor__upload-button {
  color: $pink;
  border: 3px solid $pink;
  margin-bottom: 12px;
  width: 100%;

  &:hover {
    color: $white;
    background-color: $pink;
  }

  &:active {
    opacity: 0.3;
  }

  @include breakpointMd() {
    margin-bottom: 24px;
  }

  @include breakpointXl() {
    width: 183px;
    margin-bottom: 0;
  }
}

.photo-editor__cancel-button {
  color: $blue-rgba-light;
  border: 3px solid $blue-rgba-light;
  width: 100%;

  &:hover {
    border: 3px solid $gray-rgba;
    color: $gray-rgba;
  }

  &:active {
    color: $white-rgba;
    background-color: $blue-rgba;
    border: 3px solid $blue-rgba;
  }

  @include breakpointXl() {
    width: 183px;
  }
}

.photo-editor__range {
  border-bottom: 2px solid $blue-dark;
  position: relative;
  margin: 0 20px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 14px;
    width: 14px;
    border: 2px solid $pink;
    background: $white;
    border-radius: 50%;
  }

  @include breakpointMd() {
    margin: 0;
    width: 100%;
  }
}
