.post {
  margin: 0 auto;
  padding: 20px 20px 20px 20px;

  @include breakpointMd() {
    max-width: 660px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include breakpointXl() {
    width: 980px;
  }
}

.post__photo {
  width: 100%;
  display: block;
}

.post__item {
  list-style-type: none;
  margin-bottom: 20px;
  background-color: $grey-light;

  @include breakpointMd() {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.post__author {
  margin: 0;
  font-weight: bold;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $blue-dark;
}

.post__wrapper {
  padding: 25px 17px 22px 17px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include breakpointMd() {
    padding: 25px 17px 26px 17px;
  }
}

.post__time {
  font-weight: 300;
  font-size: 12px;
  line-height: $line-height;
  color: $blue-dark;
  text-transform: uppercase;
}

.post__text {
  margin: 0;
  font-size: $font-size;
  line-height: $line-height;
  color: $blue-dark;
}

.post__photo-wrapper--panorama {
  padding: 0;
  margin: 0 -20px;
}

.post__stats {
  color: $pink;
  text-decoration: none;
  font-size: 12px;
  line-height: $line-height;
  text-align: left;
  text-transform: uppercase;
}

.post__action {
  margin-top: 10px;
  display: flex;
  align-items: center;

  @include breakpointMd() {
    justify-content: space-between;
    margin-top: auto;
    padding-top: 20px;
  }
}

.post__picture {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post__like-btn {
  background-color: $grey-light;
  border: none;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 13px;
  height: 12px;
  margin-right: 19px;

  @include breakpointMd() {
    order: 1;
    margin-left: 16px;
  }
}

.post__action--panorama {
  margin-top: 20px;

  @include breakpointMd() {
    position: absolute;
    top: 6px;
    right: 29px;
    display: flex;
    align-items: center;
  }
}
