.rates {
  background-color: $gray;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.rates__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

.rates__flag {
  font-size: 10px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $pink;
  width: 30px;
}

.rates__price {
  font-size: 24px;
  line-height: 30px;
  color: $white;
}

.rates__services {
  font-size: $font-size;
  line-height: 30px;
  min-height: 60px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  border-left: solid 2px $grey;
  border-right: solid 2px $grey;
  padding-left: 22px;
  padding-right: 18px;
}

.rates__toggles {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.rates__header-wrapper {
  background-color: $blue-dark;
  padding: 0 20px;
}

.rates__header {
  border-left: solid 2px $grey;
  border-right: solid 2px $grey;
  min-height: 98px;
}

.rates__main {
  background-color: $white;
}

.rates__item {
  padding: 0 20px;
  border-bottom: solid 2px $grey;
}
