.rates {
  background-color: $gray;
  padding-top: 91px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 44px;
  overflow: hidden;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  @include breakpointMd() {
    padding-top: 88px;
    padding-bottom: 71px;
  }

  @include breakpointXl() {
    padding-top: 160px;
    padding-bottom: 98px;
  }
}

.rates__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

.rates-table__head-cell {
  position: relative;
  overflow: hidden;

  @include breakpointMd() {
    font-size: 16px;
  }

  @include breakpointXl() {
    font-size: 17px;
  }
}

.rates-table__hit {
  position: absolute;
  height: 29px;
  width: 200px;
  background-color: $pink;
  top: 14px;
  left: -80px;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: $white;
  transform: rotate(-45deg);
  z-index: 10;

  @include breakpointMd() {
    top: 5px;
    left: -80px;
  }

  @include breakpointXl() {
    top: 11px;
    left: -73px;
  }
}

.rates__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $white;

  @include breakpointMd() {
    font-size: 18px;
  }

  @include breakpointXl() {
    font-size: 24px;
  }
}

.rates__services {
  font-size: $font-size;
  line-height: 30px;
  min-height: 60px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  border-left: solid 2px $grey;
  border-right: solid 2px $grey;
  padding-left: 22px;
  padding-right: 18px;
}

.rates__toggles {
  margin: 0;
  margin-top: 34px;
  padding: 0;

  @include breakpointMd() {
    display: none;
  }
}

.rates__header-wrapper {
  background-color: $blue-dark;
  padding: 0 20px;
}

.rates__header {
  border-left: solid 2px $grey;
  border-right: solid 2px $grey;
  min-height: 98px;
}

.rates__main {
  background-color: $white;
}

.rates__item {
  padding: 0 20px;
  border-bottom: solid 2px $grey;
}

.rates-table__text {
  margin: 0;
  padding-right: 24px;

  @include breakpointMd() {
    display: none;
  }
}

.rates-table__data-cell--yes::before {
  width: 31px;
  height: 21px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.rates-table__data-cell--no::before {
  width: 27px;
  height: 27px;
  background-image: url("../img/icon-no.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.rates-table__data-cell:first-child {
  @include breakpointMd() {
    text-transform: none;
    padding: 0 0 0 15px;
  }

  @include breakpointXl() {
    padding: 0 22px;
    font-size: 18px;
  }
}

.rates-table__data-cell {
  position: relative;

  @include breakpointXl() {
    vertical-align: middle;
    text-align: center;
  }
}

.rates-table__data-cell::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  @include breakpointMd() {
    right: 50%;
    transform: translate(50%, -50%);
  }

  @include breakpointXl() {
    right: 20px;
    transform: none;
    position: static;
    display: inline-flex;
    vertical-align: middle;
  }
}
