.reviews {
  background-color: $white;
  padding: 42px 22px 39px 22px;
  text-align: center;

  @include breakpointMd() {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  @include breakpointXl() {
    padding-top: 0;
    padding-bottom: 12px;
  }
}

.reviews__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @include breakpointMd() {
    order: 2;
    margin-top: 39px;
    margin-bottom: 7px;
    line-height: 1;
    font-size: 20px;
  }

  @include breakpointXl() {
    font-size: 24px;
    margin-top: 21px;
    margin-bottom: 5px;
  }
}

.reviews__item {
  margin: 0;

  @include breakpointMd() {
    display: flex;
    flex-direction: column;
    min-height: 214px;
  }

  @include breakpointXl() {
    min-height: 224px;
  }
}

.reviews__text {
  font-size: $font-size;
  line-height: 30px;
  text-align: center;
  color: $blue-dark;
  margin: 0;
  margin-top: 13px;

  @include breakpointMd() {
    margin-top: 0;
    font-size: 18px;
    order: 1;
  }

  @include breakpointXl() {
    padding: 0 95px;
    margin: 18px 0;
  }
}

.reviews__toggles {
  margin: 0;
  margin-top: 27px;
  padding: 0;

  @include breakpointMd() {
    margin-top: 0;
  }

  @include breakpointXl() {
    display: none;
  }
}

.reviews__age {
  display: none;

  @include breakpointMd() {
    display: block;
    font-size: $font-size;
    line-height: 30px;
    text-align: center;
    color: $blue-dark;
    order: 2;
  }

  @include breakpointXl() {
    font-size: 18px;
  }
}

.reviews__wrapper {
  @include breakpointXl() {
    position: relative;
    padding-top: 167px;
    padding-bottom: 0;
  }
}

.reviews__quotes {
  display: none;

  @include breakpointXl() {
    display: block;
    position: absolute;
    top: 71px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.slider__arrow {
  display: none;
  color: $blue-rgba;

  @include breakpointXl() {
    display: block;
    position: absolute;
    top: 213px;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
  }

  &:hover {
    color: $blue-dark;
  }

  &:active {
    color: $blue-rgba-light;
  }
}

.slider__arrow--next {
  @include breakpointXl() {
    left: auto;
    right: 0;
  }
}
