.reviews {
  background-color: $white;
  padding: 49px 22px 50px 22px;
  text-align: center;
}

.reviews__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @include breakpointMd() {
    order: 2;
  }
}

.reviews__item {
  margin: 0;

  @include breakpointMd() {
    display: flex;
    flex-direction: column;
    min-height: 346px;
  }

  @include breakpointXl() {
    display: flex;
    flex-direction: column;
    min-height: 415px;
  }
}

.reviews__text {
  font-size: $font-size;
  line-height: 30px;
  text-align: center;
  color: $blue-dark;

  @include breakpointMd() {
    order: 1;
  }
}

.reviews__toggles {
  margin: 0;
  padding: 0;
}
