.site-list__link {
  text-decoration: none;
  color: $white;

  @include breakpointXl() {
    padding-bottom: 15px;
  }
}

.site-list__item {
  list-style-type: none;
  padding: 22px;
  text-align: center;
  border-bottom: 1px solid $gray-darker-border;
  border-top: 1px solid $gray-darker-border;

  @include breakpointXl() {
    border: none;
    padding: 0;
    margin-left: 82px;
  }
}

.site-list__link--active {
  @include breakpointXl() {
    border-bottom: 2px solid $white;
  }
}

.site-list__link:hover {
  color: $pink;
}

.site-list__link:active {
  opacity: 0.3;
}
