.slider {
  text-align: center;
}

.slider__toggle {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;
}

.slider__toggle-btn {
  display: inline-flex;
  width: 6px;
  height: 6px;
  background-color: $gray-toggle;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: 0;

  &:hover {
    background-color: $blue-dark;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.slider__toggle--active {
  border-color: $blue-dark;
}

.slider__toggle--active .slider__toggle-btn {
  background-color: $white;
}

.slider__arrow {
  display: none;
  color: $blue-rgba;

  @include breakpointXl() {
    display: block;
    position: absolute;
    top: 213px;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
  }

  &:hover {
    color: $blue-dark;
  }

  &:active {
    color: $blue-rgba-light;
  }
}

.slider__arrow--next {
  @include breakpointXl() {
    left: auto;
    right: 0;
  }
}
