.social__item {
  list-style-type: none;
  padding: 0 6px;

  @include breakpointXl {
    padding: 2px 6px 0 7px;
  }
}

.social__list {
  padding: 0;
  margin: 0;
  display: inline-flex;

  @include breakpointMd() {
    display: inline-flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
}

.social__link {
  position: relative;
  width: 52px;
  height: 52px;
  display: inline-flex;
  border-radius: 50%;
  border: 3px solid $gray-light-border;

  &:hover {
    border-color: $blue-dark;
  }

  &:active {
    opacity: 0.1;
  }
}

.social__link-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
