@import "~normalize.css/normalize.css";
@import "variables";
@import "font";
@import "media";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/layout-container";
@import "blocks/main-contest";
@import "blocks/download-background";
@import "blocks/download-links";
@import "blocks/advantages";
@import "blocks/advantages-science";
@import "blocks/page-footer";
@import "blocks/gallery";
@import "blocks/gallery-description";
@import "blocks/post";
@import "blocks/intro";
@import "blocks/social";
@import "blocks/copyright";
@import "blocks/site-list";
@import "blocks/reviews";
@import "blocks/rates";
@import "blocks/rates-table";
@import "blocks/contacts";
@import "blocks/interactive-map";
@import "blocks/photo-upload";
@import "blocks/photo-editor";
@import "blocks/contest";
@import "blocks/form";
@import "blocks/slider__toggles";
@import "blocks/panorama";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
input,
textarea {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: $white;

  @include breakpointMd() {
    width: 100%;
  }

  @include breakpointXl() {
    max-width: 100%;
    background-color: $white;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
