@import "~normalize.css/normalize.css";
@import "variables";
@import "font";
@import "media";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/download-app";
@import "blocks/download-links";
@import "blocks/advantages";
@import "blocks/page-footer";
@import "blocks/gallery";
@import "blocks/gallery-description";
@import "blocks/post";
@import "blocks/download-background";
@import "blocks/intro";
@import "blocks/social";
@import "blocks/copyright";
@import "blocks/site-list";
@import "blocks/reviews";
@import "blocks/rates";
@import "blocks/contacts";
@import "blocks/interactive-map";
@import "blocks/photo-upload";
@import "blocks/photo-editor";
@import "blocks/contest";
@import "blocks/form";
@import "blocks/slider-toggles";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
input,
textarea {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #0e0e0e;
  max-width: 320px;
  margin: 0 auto;

  @include breakpoint(xl) {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
